<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="58272BurakKSE.WinoMailPreview"
    Publisher="CN=51FBDAF3-E212-4149-89A2-A2636B3BC911"
    Version="1.10.0.0" />

	<Extensions>
		<!-- Publisher Cache Folders -->
		<Extension Category="windows.publisherCacheFolders">
			<PublisherCacheFolders>
				<Folder Name="WinoShared" />
			</PublisherCacheFolders>
		</Extension>
	</Extensions>

  <mp:PhoneIdentity PhoneProductId="bd1fe9a8-9ba1-4e34-871a-d3cdee9a3547" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Wino Mail</DisplayName>
    <PublisherDisplayName>Burak KÖSE</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	  <!--<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />-->
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Wino Mail"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png"
        Description="Native mail client for Windows."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
		  <!-- Protocol activation: mailto -->
		  <uap:Extension Category="windows.protocol">
			  <uap:Protocol Name="mailto" />
		  </uap:Extension>

		  <!-- Protocol activation: Google OAuth -->
		  <uap:Extension Category="windows.protocol">
			  <uap:Protocol Name="google.pw.oauth2">
				  <uap:DisplayName>Wino Google Authentication Protocol</uap:DisplayName>
			  </uap:Protocol>

		  </uap:Extension>

		  <!-- Protocol activation: Launch UWP app from Full Trust Process  -->
		  <uap:Extension Category="windows.protocol">
			  <uap:Protocol Name="wino.mail.launch">
				  <uap:DisplayName>Wino Mail Launcher Protocol</uap:DisplayName>
			  </uap:Protocol>
		  </uap:Extension>

		  <!-- File Assosication: EML -->
		  <uap:Extension Category="windows.fileTypeAssociation">
			  <uap:FileTypeAssociation Name="eml">
				  <uap:Logo>EML\eml.png</uap:Logo>
				  <uap:SupportedFileTypes>
					  <uap:FileType>.eml</uap:FileType>
				  </uap:SupportedFileTypes>
			  </uap:FileTypeAssociation>
		  </uap:Extension>

		  <!-- App Service-->
		  <uap:Extension Category="windows.appService">
			  <uap:AppService Name="WinoInteropService"/>
		  </uap:Extension>

		  <!-- Full trust process -->
		  <desktop:Extension Category="windows.fullTrustProcess" Executable="Wino.Server\Wino.Server.exe">
			<desktop:FullTrustProcess>
				<desktop:ParameterGroup GroupId="WinoServer" Parameters="Mail" />
			</desktop:FullTrustProcess>
		  </desktop:Extension>

		<!--Startup Task--> 
		<uap5:Extension
			  Category="windows.startupTask"
			  Executable="Wino.Server\Wino.Server.exe"
			  EntryPoint="Windows.FullTrustApplication">
			  <uap5:StartupTask
					TaskId="WinoServer"
					Enabled="false"
					DisplayName="Wino Mail" />
		  </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
	<rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
